/***************************MOBILE***************************/
.footer {
  width: 576px;
  display: grid;
  grid-template-columns: 2fr, 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "box-contactos" "box-rsocial";
}
.box-contactos {
  padding-top: 30px;
  grid-area: box-contactos;
  background-color: black;
  color: white;
  text-align: center;
  height: 100px;
  a {
    text-decoration-style: none;
  }
}
.box-rsocial {
  padding-top: 30px;
  display: flex;
  grid-area: box-rsocial;
  background-color: black;
  color: white;
  text-align: center;
  height: 100px;
  justify-content: center;
  a {
    padding: 20px;
    text-decoration-style: none;
  }
}

/***************************TABLET***************************/

@media (min-width: 768px) {
  .footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*eje y*/
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "box-contactos" "box-rsocial";
  }
  .box-contactos {

    grid-area: box-contactos;
    background-color: black;
    color: white;
    height: 100px;
    
  }
  .box-contactos a {
    text-decoration-style: none;
    padding: 20px;
  }
  .box-rsocial {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100px;
  }

  .box-rsocial a {
    padding: 20px;
  }
}
